<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <%=link_to ('<span class="glyphicon glyphicon-step-backward"></span>Back').html_safe, :back%>
  </div><!-- / panel-body -->
</div><!-- / panel -->