h1 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  text-align: center;
	color: grey;
}

h2 {
	text-align: center;
}


// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
